
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  
.sidebar {
margin: none;
padding-top: 0px;
width: 300px;
background-color: #ffffff;
position: fixed;
height: 100%;
overflow: auto;
}

.jump-menu {
margin: 40px 0;
}

.sidebar a,  .dropdown-btn {
padding: 30px 8px 6px 16px;
text-decoration: none;
font-size: 18px;
color: black !important;
display: block;
border: none;
background: none;
width:100%;
text-align: left;
cursor: pointer;
outline: none;
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
letter-spacing: -.5px;
}

.dropdown-container a {
color: #3d3d3d !important;
background-color: #ffffff;
font-size: 16px;
}

.sidebar a.active {
background-color: #84bbe9 !important;
color: white;
}

.sidebar a:hover:not(.active), .dropdown-btn:hover {
color: rgb(34, 107, 171) !important;
}

.big-mama{
    margin-left: 300px;
}

div.content {
margin: 0 300px 0 auto;
text-align: center;
max-width: 750px;
}

.dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
  }

  p{
    text-align: left;
  }
  
 
  @media screen and (max-width: 767px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
 

       body {
            color: #3d3d3d;
            line-height: 2em;
            text-align: justify;
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            letter-spacing: -.5px;
            color: black;
        }
        
        img {
            border: black solid 1px;
        }
         
        a:link {
            color: rgb(34, 107, 171);
            
        }
      
        a:visited {
            color: rgb(1, 62, 115);
        }
        
        a:hover {
            color: rgb(63, 141, 209);
        }

        h1,h2,h3,h4,h5 {
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            letter-spacing: -1px;
            color: black;
        }

        h1 {
            font-size: 1.625rem;
            text-align: center;
            padding: 10px;   
            
        }

        h2 {
            font-size: 1.5rem; 
            text-align: center;
            margin-top: .3rem !important;
            margin-bottom: .2rem !important;
        }

        h3 {
            font-size: 1.3rem;
            text-align: left;
        }

        h4 {
            font-size: 1.2rem;
            text-align: left;
        }

        h5 {
            font-size: 1.1rem;
            text-align: left;
            margin-bottom: .2rem !important;
        }

        ul {
            text-align: left;
            list-style-type: circle;
            line-height: 1.625;
        }

        li{
            margin-top: .75rem;
        }

        li.indent {
            /* padding-inline-start: 2em; */
            list-style-type: none;
        }

        ol {
            text-align: left;
            line-height: 2em;
        }
        
        ol > li{
            margin-top: 1rem;
        }

        .bold {
            font-weight: 600;
        }

        .border {
            border: 2px solid black;
            background: #ffffff;
            text-align: center;
            border-radius: 10px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .center-text {
            display: block;
            text-align: center;
        }

        .dotted {
            border-style: dotted;
        }

        .emphasis {
            font-weight: 500;
            font-style: italic;
        }

        .left {
            text-align: left !important;
        }

        .red {
            color: #b42929;
        }

        .rounded {
            border-radius: 10px;
        }

        .indent {
            text-indent: 25px;
        }

        .underline {
            text-decoration: underline;
        }
        
        .flex {
            display: flex;
            justify-content: center;
            }

        .warning-header {
            color: white;
            text-align: center;
            font-weight: 300;
        }

        .warning-container {
            background: #b42929;
            color: white;
            padding: 40px;
            text-align: center;
            border-radius: 20px;
        }


        .warning-text {
            display: inline-block;
            text-align: left;
            line-height: 1.5em;
            margin: 10px;
            font-weight: 300;
        }
      
        .note-header {
            color: white;
            font-size: 1.5vw;
        }

        .note-container {
            background: #f0ad4e;
            color: #ffffff;
            padding: 20px;
            border-radius: 20px;
            margin: 30px 0;
            text-align: center;
        }

      
        .note-text {
            text-align: left;
        }
    
        .overview-note {
            margin: 30px 30px;
            text-align: justify; 
        }

        .return {
            text-align: right;
            display: block;
        }

        .return img{
            width: 20px;
        }

        #taz-fail-img img {
            width: 33%;
            margin: 3px;
        }

        #mt-fail-img {
            margin: 30px 0;
        }

        #taz-fail-img {
            margin: 30px 0;
        }

        #traxrope-img img, #tazrope-img img, #taught-img img {
            width: 45%;
            margin: 3px;
        }

        #why-taz, #why-mt, #why-backup {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #overview, #taz-fail, #mt-fail {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        #overview {
            padding: 20px;
        }

        #fail-warning-container {
            padding: 20px;
            margin-bottom: 50px;
        }

        #intro {
            margin: 20px 0;
        }
        
        #warning {
            margin-bottom: 50px;
        }

        #gear {
            margin: 60px 0;
        }

        #gear-list {
            display: inline-block;
            text-align: left;
            margin-bottom: 30px;
        
        }

        #weight-rope {
            margin-top: 20px;
            margin-bottom: 60px;
        }

        #descend {
            margin-top: 30px;
            margin-bottom: 60px;
        }

        #fail-modes-container {
            margin: 30px 0;
        }

        .warning-text-smargin {
            display: inline-block
            text-align: left;
            line-height: 1.5em;
            margin: 10px;
            font-weight: 300;
        }

        #add-warnings {
            margin: 50px 0;
        }
        
        #taz-warning {
            margin-top: 50px;
            padding-bottom: 25px !important;
        }

        #trax-warning {
            margin: 50px 0;
            padding-bottom: 25px !important;
        }

        #to-harness {
            margin-bottom: 50px;
        }

        #taught-img {
            margin-bottom: 50px;
        }

        #rec-gear {
            margin-top: 50px;
            margin-bottom: 150px;
            padding: 20px;
        }

        #taught-warning {
            padding-bottom: 25px !important;
        }
       

        @media screen and (max-width: 767px) {
            h1, h2, h3, h4 {
                font-size: 100%;
            }
            div.content {
                margin-left: 0;
                margin-right: 0;
    
              }

              #top {
                display: none;
              }

          }