* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 200;
    height: 100%;
    margin-bottom: 100px;
}

a {
    font-weight: 600;
    text-decoration: none;
}

a:link {
    color:rgb(96, 62, 52);
}

a:visited {
    color:rgb(96, 62, 52);
}

a:hover {
    color:rgb(132, 96, 86);
}



li {
    padding: 7px 0;
}

#where li a, #makers li a {
    font-size: 1.2em;
}

p {
    padding: 10px 0;
}

h1 {
    margin-bottom: 30px;
    font-size: 1.9em;
    
}

h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    margin-left: 40px;
}

.list {
    text-align: center;
}

.nobullet {
    list-style-type: none;
}

.container {
    margin: 0 27%;
    height: 100%;
}

.left-container {
    width: 27%;
    height: 100%;
    background-color:aqua;
}

.right-container {
    width: 27%;
    height: 100%;
    margin-left: 73%;
}

.bright {
    background-color:rgba(251, 218, 108, 0.213);
    padding: 10px 20px;
    border-radius: 10px;
}

.dark {
    background-color:rgba(104, 57, 119, 0.217);
    padding: 10px 20px;
    border-radius: 10px;
}

.spicy {
    background-color:rgba(196, 37, 37, 0.227);
    padding: 10px 20px;
    border-radius: 10px;
}

.fudge {
    background-color:rgba(119, 63, 57, 0.217);
    padding: 10px 20px;
    border-radius: 10px;
}

.def {
    background-color:rgba(156, 95, 76, 0.22) ;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 400;
}

.origin {

}

img.origin:hover {
    transform: scale(1.1);
}

.originpad {
    padding-right: 70px;
}



#mobile-header {
    display: none;
}

@media screen and (max-width: 767px) {
 
   .container {
        margin: 0 7%;
    }

  h1 {
    text-indent: 0em;
  }
  
  #header {
    display: none;
    }

  #mobile-header {
    display: block;
  }

  }

