* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 200;
}

a {
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
}

p {
    padding: 10px 0;
}

h1 {
    margin-bottom: 30px;
    font-size: 1.9em;
    margin-left: -20px;
}

h2 {
    font-size: 1.4em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    margin-left: 20px;
}

.container {
    margin: 0 27%;
}

.bright {
    background-color:rgb(251, 218, 108);
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

.dark {
    background-color:rgb(104, 57, 119);
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

.spicy {

}

.choco {

}

.def {
    background-color:rgba(156, 95, 76, 0.483) ;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
 
   .container {
        margin: 0 7%;
    }

  h1 {
    text-indent: 0em;
  }
      
  }

