
* { 
    margin: 0;
    padding: 0;
}

.sidenav {
    margin-top: 50px;
    width: 25%;
    height: 100%;
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: .9rem;
    
}

.sidenav a {
    display: block;
    color: black;
    font-weight: 500;
}

a:hover {
    color: rgb(57, 99, 184);
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 100px;
    
}

#header {
   
    margin-top: 50px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul {
    padding-left: 50px;
    list-style-type: square;
}

li {
    text-align: left;
    font-weight: 300;
    line-height: 2em;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {

    text-align: left;
}

h1 {
    
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 30px 0 5px 0;
}

h2 {
    padding-left: 10px;
    font-size: 1.35rem;
    font-weight: 500;
    margin: 15px 0px 5px 0;
}


h3 {
    padding-left: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 25px 0px 5px 0;
}

p {
    padding: 10px 30px;
    text-align: left;
    font-weight: 400; 
    line-height: 1.7em;
}

.border {
    border: solid 1px black; 
    margin: 20px 0 0 0;
}

.bold {
    font-weight: 500;
}

.map {
    margin: 20px;
}

.table-bike {
    background-color: rgb(225, 243, 255);
    margin: 20px 30px;
    padding: 10px;
}

.table-station {
    background-color: rgb(228, 228, 228);
    margin: 20px 30px;
    padding: 10px;
}

.caption {
    font-size: .85rem;
    margin: 0 40px;
    font-weight: 500;
}

.section {
    margin: 30px 0;
}

@media screen and (max-width: 767px) {
    .sidenav {
      display: none;
      width: 0;
    }

   .container {
    margin: 10px;
    text-align: center;
    }

    .header {
        width: 100%;
    }

    .map {
        width: 100%;
    }


    h1, h2, h3, h4 {
        font-size: 100%;
    }
      
  }
